body {
  font-size: 12px; 
  font-family: "Arial"; 
}

/* Main structural elements. */
.outer-container {
  width: 100vw;
  heigth: 100vh;
}
#rationalgrl {
  margin: auto;
  padding: 0px;
}

h3 {
  font-size: 15px;
}

#paper {
  margin-left: 115px;
  height: calc(100% - 200px);
  border: 1px solid black;
}

#sidebar {
  border: 1px solid black;
  width: 105px;
  height: 240px;
  float: left;
  font-family: "Arial"; 
  font-weight: bold;
  padding: 2px;
}

.sidebarElement {
  cursor: pointer;
}

/* Details panes */

/* General */
.details-pane {
  margin-left: 115px;
  border: 1px solid black;
  height: 200px;
  overflow: hidden;
  padding: 5px;
  bottom: 0;;
}

thead {
  font-size: 14px;
  font-weight: bold;
}

table {
  font-size: 12px;
}

td {
  padding-bottom: 4px;
}

.table-key {
  font-weight: bold;
  width: 150px;
}

/* Element details pane */
.element-details-container {
  display: none;
}
input.element-name-input {
  width: 150px;
}

/* Critical questions details pane */
.question-details-container {
  display: none;
}
input.explanation-input {
  width: 350px;
}
div.answer-container {
  float: left;
}
div.element-container {
  margin-left: 10px;
  float: left;
  display: none;
}

/* Argument details pane */
.argument-details-container {
  display: none;
}
input.explanation {
  width: 350px;
}

/* Link details pane */
.link-details-container {
  display: none;
}

/* Toolbar of individual elements */
.element-tools {
  display: none;
  cursor: pointer;
}
.joint-element:hover .element-tools {
  display: inline;
}

/* HTML elements */
#paper-html-elements {
    position: relative;
    border: 1px solid gray;
    display: inline-block;
    background: transparent;
    overflow: hidden;
}
#paper-html-elements svg {
    background: transparent;
}
#paper-html-elements svg .link {
    z-index: 2;
}
.html-element {
    position: absolute;
    /* Make sure events are propagated to the JointJS element so, e.g. dragging works.*/
    pointer-events: none;
    -webkit-user-select: none;
    vertical-align: middle;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    display: table-cell;
}
.html-element input,
.html-element button {
    /* Enable interacting with inputs only. */
    pointer-events: auto;
}
.html-element button.delete {
    color: white;
    border: none;
    background-color: #C0392B;
    border-radius: 20px;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: middle;
    position: absolute;
    top: -5px;
    left: -5px;
    padding: 0;
    margin: 0;
    font-weight: bold;
    cursor: pointer;
}
.html-element button.delete:hover {
    width: 20px;
    height: 20px;
    line-height: 20px;
}

.html-element input {
    bottom: 0;
    left: 0;
    right: 0;
    color: #333;
    padding: 5px;
    height: 20px;
    font-size: 14px;
    border: 1px solid black;
    display: none;
}
.html-element .decomposition {
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0px;
    height: 15px;
    vertical-align: top;
    position: absolute;
    margin: auto;
    z-index: 1;
}
/* Context menu (right click menu) */
.container {
  margin: 0 auto;
  padding: 0 24px;
  max-width: 960px;
}

/* primary header */

.primary-header {
  padding: 24px 0;
  text-align: center;
  border-bottom: solid 2px #cfcfcf;
}

.primary-header__title {
  color: #393939;
  font-size: 36px;
}

.primary-header__title small {
  font-size: 18px;
  color: #898989;
}

/* content */

.content {
  padding: 48px 0;
  border-bottom: solid 2px #cfcfcf;
}

.content__footer {
  margin-top: 12px;
  text-align: center;
}

/* footer */

.primary-footer {
  padding: 24px 0;
  color: #898989;
  font-size: 14px;
  text-align: center;
}

/* tasks */

.tasks {
  list-style: none;
  margin: 0;
  padding: 0;
}

.task {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  border-bottom: solid 1px #dfdfdf;
}

.task:last-child {
  border-bottom: none;
}
